{% extends "base.html" -%}

{% block content -%}

<div class="row justify-content-md-center">
    <div class="col-md-6">

        <h1 class="black">Add a POI Location</h1>

        <div class="card">
            <div class="card-block">
            <form id="add-location-form">

                <div class="form-group">
                    <label for="name-input">POI Location Name</label>
                    <input type="text" name="name" class="form-control" id="name-input" placeholder="Enter the location's name">
                </div>

                <div class="form-group">
                    <label for="city-input">City</label>
                    <select name="city" class="form-control" id="city-input">
                        <option>Atlanta</option>
                        <option>(We'll grab all these from DB)</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="state-input">State</label>
                    <select name="state" class="form-control" id="state-input">
                        <option>Georgia</option>
                        <option>(We'll grab all these from DB)</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="zip-input">Zip Code</label>
                    <input type="text" pattern="[0-9]{5}" name="zip" class="form-control" id="zip-input" placeholder="Enter the location's zip code">          
                </div>

                 <button id="add-location-button" onclick="submitLocation()" class="btn btn-warning">Submit
                 </button>
            </form>
            </div>
        </div>
    </div>
</div>

{%- endblock content %}

{% block js %}
<script src="{{url_for('static', filename='js/add-location.js')}}"></script>
{% endblock js %}




