{% extends "base.html" -%}

{% block content -%}

<div class="row justify-content-md-center">
    <div class="col-md-6">

        <h1 class="black">Add a Data Point</h1>

        <div class="card">
            <div class="card-block">
            <form id="add-point-form">

                <div class="form-group">
                    <label for="poi-input">POI Location Name</label>
                    <select class="form-control" name="poi" id="poi-input">
                        <!-- filled in from db -->
                    </select>
                </div>

                <div class="form-group">
                    <label for="time-input">Date and Time</label>
                    <input type="datetime-local" name="time" class="form-control" id="time-input">
                </div>

                <div class="form-group">
                    <label for="type-input">Data Type</label>
                    <select class="form-control" name="type" id="type-input">
                        <!-- filled in from db -->
                    </select>
                </div>

                <div class="form-group">
                    <label for="value-input">Data Value</label>
                    <input type="text" name="value" class="form-control" id="value-input" placeholder="Enter data value">          
                </div>

                 <button id="add-point-button" onclick="submitPoint()" class="btn btn-warning">Submit
                 </button>
            </form>
            </div>
        </div>
    </div>
</div>

{%- endblock content %}

{% block js -%}

<script src="{{url_for('static', filename='js/add-point.js')}}"></script>

{%- endblock js -%}




