#top, #middle, #bottom {
    background-color: white;
    border: 3px dotted #FFA000;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
}

#bottom {
    display:inline-block;
}

input.input {
    width:87%;
    float:right;
}
