{% extends "base.html" -%}

{% block content -%}

<div class="row justify-content-md-center">

    <div class="col-md-8">
        <h1 class="black">Admin Functions</h1>
        <hr>
        <div class="card home-card text-center">
          <div class="card-block">
            <a href="/admin/pending-points" class="btn btn-block btn-lg btn-secondary">Pending Data Points</a>
            <br>
            <a href="/admin/pending-accounts" class="btn btn-block btn-lg btn-secondary">Pending City Officials</a>
          </div>
        </div>    
    </div>
</div>

{%- endblock content %}


