{% extends "base.html" -%}

{% block content -%}

<div class="row justify-content-md-center">

    <div class="col-md-12">

        <h1 class="black">Pending Data Points</h1>
        <br>

        <div class="card">
          <div class="card-block">
            <h4 class="card-title"></h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>POI Location</th>
                        <th>Data Type</th>
                        <th>Data Value</th>
                        <th>Time of Reading</th>
                        <th>Accept</th>
                        <th>Reject</th>
                    </tr>
                </thead>
                <tbody id="pending-points">
                    <!-- Gotten from the DB -->
                </tbody>
            </table>
          </div>
        </div>

    </div>

</div>

{%- endblock content %}

{% block js %}
<script src="{{url_for('static', filename='js/pending-points.js')}}"></script>
{% endblock js %}


