{% extends "base.html" -%}

{% block content -%}

<div class="row justify-content-md-center">

    <div class="col-md-8">
        <h1 class="black">POI Search</h1>
        <hr>
        <div class="card home-card">
          <div class="card-block">

            <form id="search-form">
              
              <div class="form-group">
                <label for="poi-input">POI Location Name</label>
                <select class="form-control" name="poi" id="poi-input">
                  <option></option>
                  <!-- POIs added here from db -->
                </select>
              </div>

              <div class="form-group">
                <label for="city-input">City</label>
                <select class="form-control" name="city" id="city-input">
                  <option></option>
                  <!-- Cities added here from db -->
                </select>
              </div>

              <div class="form-group">
                <label for="state-input">State</label>
                <select class="form-control" name="state" id="state-input">
                  <option></option>
                  <!-- States added here from db -->
                </select>
              </div>

              <div class="form-group">
                <label for="zip-input">Zip Code</label>
                <input type="text" pattern="[0-9]{5}" name="zipcode" class="form-control" id="zip-input" placeholder="Enter the location's zip code">          
              </div>
            
              <div class="form-group">
                <label for="flagged">Flagged?</label>
                <select id="flagged" name="flagged">
                  <option value="0" selected>No</option>
                  <option value="1">Yes</option>
                </select>
              </div>

              <div class="form-group">
                <label for="time-input">Date Flagged After</label>
                <input type="date" name="flagged-after" class="form-control" id="time-input">
              </div>

              <div class="form-group">
                <label for="time-input">Date Flagged Before</label>
                <input type="date" name="flagged-before" class="form-control" id="time-input">
              </div>

              <a class="btn btn-primary" onclick="searchPOI()">Apply Filter</a>
            </form>  
          </div>
        </div>  

        <table id="search-table" class="table">
            <thead>
                <tr>
                    <th>Location Name</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Zip Code</th>
                    <th>Flagged ?</th>
                    <th>Date Flagged</th>
                </tr>
            </thead>
            <tbody id="search-results">
                <!-- We for loop through this part after getting DB response -->
            </tbody>
        </table>

    </div>
</div>

{%- endblock content %}

{% block js %}
<script src="{{url_for('static', filename='js/search.js')}}"></script>
{% endblock js %}


