{% extends "base.html" -%}

{% block content -%}

<div class="row justify-content-md-center">

    <div class="col-md-8">
        <h1 class="black">City Official Functions</h1>
        <div class="card home-card text-center">
          <div class="card-block">
            <a href="/city-scientist/add-point" class="btn btn-block btn-lg btn-secondary">Add Data Point</a>
            <br>
            <a href="/city-scientist/add-location" class="btn btn-block btn-lg btn-secondary">Add POI Location</a>
          </div>
        </div>    
    </div>
</div>

{%- endblock content %}


