{% extends "base.html" -%}

{% block content -%}

<div class="row justify-content-md-center">

    <div class="col-md-8">
        <h1 class="black">City Official Functions</h1>
        <div class="card home-card text-center">
          <div class="card-block">
            <a href="/city-official/poi-search" class="btn btn-block btn-lg btn-secondary">Filter / Search POI</a>
            <br>
            <a href="/city-official/poi-report" class="btn btn-block btn-lg btn-secondary">POI Report</a>
          </div>
        </div>    
    </div>
</div>

{%- endblock content %}


