{% extends "base.html" -%}

{% block content -%}

<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/home.css') }}">

<div class="tier" id="top">
    <h1>Welcome to the app! </h1>
    <h4 class="subheader blackoutline">Are you passionate about making the world a better place? So is Georgia Tech! Our motto is "Progress and Service" -- And we are upping the ante through Serve-Learn-Sustain, our new, campus-wide academic initiative focused on creating sustainable communities.</h3>
    &nbsp;
    <h4>Please sign up or log in...</h4>
    <a href="/login">Sign In</a>
    <a href="/register">Register</a>
</div>

<div class="tier" id="middle">

</div>

<div class="tier" id="bottom">

</div>

{%- endblock content %}
