{% extends "base.html" -%}

{% block content -%}

<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/login.css') }}">



<div class="tier" id="top">
    <label><b>Username</b></label>
    <input class="input" type="text" placeholder="Enter Username" name="uname" required>
</div>

<div class="tier" id="middle">
    <label><b>Password</b></label>
    <input class="input" type="password" placeholder="Enter Password" name="psw" required>
</div>

<div class="tier" id="bottom">
    <button type="submit">Login</button>
    <div id="rememberme">
        <input class="checkbox" type="checkbox" checked="checked">Remember me
    </div>
</div>

{%- endblock content %}
