{% extends "base.html" -%}

{% block content -%}

<div class="row justify-content-md-center">

    <div class="col-md-8">

        <h1 class="black">Pending Data Points</h1>
        <br>

        <div class="card">
          <div class="card-block">
            <h4 class="card-title"></h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>POI Location</th>
                        <th>Data Type</th>
                        <th>Data Value</th>
                        <th>Time of Reading</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Georgia Tech</th>
                        <th>Mold</th>
                        <th>12</th>
                        <th>01/31/2017 15:32</th>
                    </tr>
                    <tr>
                        <th>Georgia Tech</th>
                        <th>Mold</th>
                        <th>12</th>
                        <th>01/31/2017 15:32</th>
                    </tr>
                </tbody>
            </table>
            <a href="#" class="card-link btn btn-success">Accept</a>
            <a href="#" class="card-link btn btn-danger">Reject</a>
          </div>
        </div>

    </div>

</div>

{%- endblock content %}


