{% extends "base.html" -%}

{% block content -%}

<div class="row justify-content-md-center">
    <div class="col-md-6">

        <h1 class="black">Register</h1>

        <div class="card">
            <div class="card-block">
            <form>
                <div class="form-group">
                    <label for="usernameInput">Username</label>
                    <input type="text" class="form-control" id="usernameInput" placeholder="Username">
                </div>

                <div class="form-group">
                    <label for="emailInput">Email address</label>
                    <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp" placeholder="Enter email">          
                </div>

                <div class="form-group">
                    <label for="passwordInput">Password</label>
                    <input type="password" class="form-control" id="passwordInput" placeholder="Password">
                </div>

                <div class="form-group">
                    <label for="confirmPasswordInput">Confirm Password</label>
                    <input type="password" class="form-control" id="confirmPasswordInput" placeholder="Confirm Password">
                </div>


                <div class="form-check">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input">
                      Remember Me
                    </label>
                </div>

                <div class="form-group">
                    <label for="typeInput">User Type</label>
                    <select class="form-control" id="typeInput">
                      <option>City Official</option>
                      <option>City Scientist</option>
                    </select>
                </div>

                 <button type="submit" class="btn btn-warning">Register
                 </button>
            </form>
            </div>
        </div>
    </div>
</div>

{%- endblock content %}
